html * {
  font-family: 'Poppins', sans-serif;
}

a {
  transition-duration: 0.25s;
}

.page-title {
  font-weight: 700 !important;
  line-height: 1.2;
  font-size: 10vw;
}

.section-1 {
  padding-top: 18rem;
  padding-bottom: 18rem;
  background-color: #000000b7;
}

.section-1 .background-title {
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700 !important;
  line-height: 1.2;
  color: #1c1c1c;
}

.section-subtitle {
  font-size: 2rem;
  font-weight: 700 !important;
  line-height: 1.2;
  color: #1c1c1c;
}

.img-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-shadow {
  box-shadow: 4px 4px 20px -10px #1c1c1c;
}

.button-link {
  text-decoration: none;
  font-weight: 700 !important;
  background-color: #000000;
  border: 0;
  padding: 1.2rem;
  color: #fff;
}

.button-link:hover,
.button-link:active,
.button-link:focus {
  background-color: #2c2c2c;
  text-decoration: none;
  color: #fff;
}

.highlighted-words-purple {
  font-weight: 700;
  text-decoration: underline #240051 4px;
  text-decoration-skip-ink: none;
}

.highlighted-words-yellow {
  font-weight: 700;
  text-decoration: underline #d8a200 4px;
  text-decoration-skip-ink: none;
}

a.highlighted-words-yellow {
  color: #1c1c1c;
}

a.highlighted-words-yellow:hover,
a.highlighted-words-yellow:active,
a.highlighted-words-yellow:focus {
  font-weight: 700;
  text-decoration: underline #2c2c2c 4px;
  text-decoration-skip-ink: none;
  color: #2c2c2c;
  cursor: pointer;
}

.text-shadow {
  text-shadow: #1c1c1c 0px 0px 10px;
}

.card {
  align-self: center !important;
  font-size: 1rem;
  background-color: #1c1c1c;
  border: #240051;
  height: 100%;
  border-radius: 0px;
}

.card-header {
  align-self: center !important;
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 0;
  padding-top: 1.25rem;
  color: #ffc821;
  background: transparent;
}

.card-body {
  align-self: center !important;
  padding: 0 1.25rem 1.25rem;
}

.card-body img {
  width: 100%;
  max-width: 250px;
}

.card-text {
  align-self: center !important;
  padding-top: 0;
  font-weight: 300;
  color: white;
}

.inverted-colors {
  background-color: #0009;
  color: #fff;
}

.inverted-colors *,
.inverted-colors a {
  color: #fff;
}

.text-block {
  padding: 0;
}

.text-block a,
.text-block div {
  background-color: #1c1c1c33;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.text-block h2 {
  font-size: 3rem;
}

.text-block a h2 {
  background-color: #1c1c1c66;
  font-size: 3vw;
  color: #fff;
  padding: 1.5rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 150px;
  width: 100%;
} a

.text-block:hover a h2,
.text-block:active a h2,
.text-block:focus a h2 {
  background-color: #1c1c1ccc;
}

.text-block a:hover,
.text-block a:active,
.text-block a:focus {
  background-color: #1c1c1c99;
  text-decoration: none;
}

@media only screen and (max-width: 576px) {
  .page-title {
    font-size: 15vw;
  }
}

@media only screen and (min-width: 992px) {
  .page-title {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .card-text {
    font-size: 1vw;
  }
}
